[package]
name = "genact"
description = "A nonsense activity generator"
version = "0.11.1-alpha.0"
repository = "https://github.com/svenstaro/genact"
authors = ["Sven-Hendrik Haase <svenstaro@gmail.com>"]
license = "MIT"
readme = "README.md"
keywords = ["fake", "nonsense", "useless"]
categories = ["command-line-utilities", "command-line-interface"]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[profile.release]
lto = true
opt-level = 'z'
codegen-units = 1
panic = 'abort'

[dependencies]
yansi = "0.5"
rand = "0.8.3"
rand_distr = "0.4.0"
chrono = { version = "0.4", features = ["wasmbind"] }
url = "2.2"
lazy_static = "1.4"
humantime = "2"
humansize = "1"
regex = "1.4"
fake = { version = "2.4", features = ["chrono"] }
wasm-bindgen = "0.2.73"
anyhow = "1"
progress_string = "0.2"
instant = { version = "0.1", features = ["now", "wasm-bindgen"] }
console_error_panic_hook = "0.1"
wasm-bindgen-futures = "0.4"
js-sys = "0.3"
futures = "0.3"
getrandom = { version = "0.2", features = ["js"] }
async-trait = "0.1"
async-std = "1"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
structopt = "0.3"
ctrlc = { version = "3.1", features = ["termination"] }
async-std = { version = "1.9", features = ["attributes"] }
term_size = "1.0.0-beta1"

[dependencies.web-sys]
version = "0.3.50"
features = ["Window", "Location", "console"]
